h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 1.8em;
    margin: 1rem;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }